/* @import url('https://fonts.googleapis.com/css?family=Nova+Square'); */

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');


/*new css*/

.article-list .media-section{
	border-radius: 10px;
  box-shadow: 5px 5px 15px -1px rgba(10, 99, 169, 0.36)

}


#farm-logo{
/*	width:200px;*/

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-bottom: -75px;
}

p, h1, h2, h3{
	margin: 15px;
}

#buy-btn{
	
	width: 80%;font-family: courier;
	font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #395e19;
  color: white;

  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.36),
  						 -10px -10px 10px -1px rgba(255, 255, 255, 0.70)

}

p, a, h1, h2, h3, li {
	font-family: courier;
	font-weight: bold;
}


nav a {
	color: #5d2b24;
	font-family: courier;
	font-weight: bold;
	font-size: 20px;
}

ul.nav.nav-top{
	padding: 0px;
}


#nav-left, #nav-right{
	display: inline;
}

#nav-left {
	padding-right: 7%;
}

#nav-right {
	padding-left: 7%;
}

nav li {
	width: 10%;
}


body {
	margin-top: -25px;
	padding: 0;
	background-color: #ececec;
	/* background-image: url('../img/background.jpg'); */
	background-attachment: fixed;
	font: normal 100%/1.4 sans-serif;
}

#follow {
	color:black;
	margin-top: 5px;
	margin-bottom:5px;
}

.wrapper {
	max-width: 1000px;
	margin-top:25px;
	margin-left: auto;
	margin-right: auto;
	/* background-color: rgba(0, 0, 0, 0.6); */
	/* box-shadow: 0px 0px 30px black; */
	border-radius: 20px;
}

/* MASTHEAD */


.current {
/*text-shadow:  0px 0px 5px black;*/
	color: #396905;
	font-weight: bold;
	text-decoration: underline;
}


/* NAVIGATION */

nav li {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
}

nav {
 text-align: center;
}

.nav-top{
	font-size:1.5rem;
	font-weight: bold;
	margin-bottom: 0;
}

.nav-top li{
	padding-left:  32px;
	padding-right: 32px;
	padding-top: 0;
}

.media-section{
		padding-top:10px;
		padding-bottom: 20px;
		margin-top: 15px;
		margin-bottom: 30px;
		background-color: white;
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
			border-radius: 10px;
  box-shadow: 5px 5px 15px -1px rgba(10, 99, 169, 0.36)
	}

/*blog articles*/


.article-list{
	margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding:10px;
}

article img {
	width: 100%;
	max-width:1000px;
	height:auto;
	margin-bottom: 60px;
}

#disqus_thread {
	max-width: 980px;
	margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.blog li{
	margin-left: 50px;
}

/*common*/

a {
	text-decoration: none;
	color:black;
}

.greenlink, a {
	color: #395e19;
	text-decoration: underline;
}

.centerText, #smallText {
	text-align: center;
	margin-top: -5px;

}

#smallText{
	color:gray;
	font-size: 11px;
}


.img {
	height: 300px;
}
	

#image-view {
	margin-left: auto;
	margin-right: auto;
}

/*video gallery*/


/*article text formatting*/

article p{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

article a{
	text-decoration: underline;
	color: blue;
}

/*h3 {
	display: inline;
}*/

/* responsive */

@media (max-width: 1200px) {
		#viewer-3d{
			max-width: 450px;
		}
	}

@media (max-width: 900px){


	#farm-logo{
  margin-bottom: -40px;
}

	nav a {
	font-size: 15px;
}

h2, h1 {
	font-size: 15px;
}

p {
	font-size: 12px;
}

.media-section {
	width: 95%;
}


	.nav-top{
		font-size:1.22rem;
		margin-top: 0px;
		margin-bottom: 0px;
	}


	.nav-top li{
		padding-left:  5px;
		padding-right: 5px;
		padding-top: 0;
		padding-bottom: 0;
	}


	#headshot {
		width: 100px;
	}


	.title {
		font-size: 1.8rem;
		letter-spacing: .3rem;
		margin-bottom: 0;
		margin-left: 2px;
		display: inline;
	}


	h1{
		font-size: 2rem;
	}


	.article-list{
		max-width: 90%;
		margin-top:40px;
	}

	#videos {
		max-width:405px;
	}

	#viewer-3d img{
		width: 300px;
		height: 169px;
	}

	#viewer-3d{
		max-width: 310px
	}
}

@media (max-width: 1300px){ /*narrows the video grid*/
	#videos {
		max-width:1015px;
	}
}





